<!DOCTYPE html>
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
<html lang="en">
<head>
  <title>Invenio statistics dashboard</title>
</head>
<body>

  <h1>Invenio statistics dashboard</h1>
  
  {% for section in sections %}
    <h3> {{ section['main_heading'] }}:</h3>
    {{ section['main_stat'] }}

    <table border="1">
      <tr>
          <th></th>
          {% for table_heading in section['table_headings'] %}
            <th> {{ table_heading }} </th>
          {% endfor %}
      </tr>
      <tr>
          <td> {{ section['table_name'] }} </td>
          {% for table_stat in section['table_entries'] %}
            <th> {{ table_stat }} </th>
          {% endfor %}
      </tr>
      <!-- Add more rows as needed -->
    </table>
  {% endfor %}
</body>
</html>