<!DOCTYPE html>
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
<html lang="en">
<head>
  <title>Invenio statistics dashboard</title>
</head>
<body>

  <h1>Invenio statistics dashboard</h1>
  
  {% for heading in headings %}
    <h3> {{ heading }}:</h3>
    {{ deposit_stats[0] }}

    <table border="1">
      <tr>
          <th></th>
          <!-- <th>in the last year</th> -->
          <th>in the last month</th>
          <th>in the last week</th>
          <th>in the last day</th>
      </tr>
      <tr>
          <td>Total no. of deposits added</td>
          <!-- <td>Row 1, Column 2</td> -->
          <td>{{ deposit_stats[1] }}</td>
          <td>{{ deposit_stats[2] }}</td>
          <td>{{ deposit_stats[3] }}</td>
      </tr>
      <!-- Add more rows as needed -->
    </table>
  {% endfor %}
</body>
</html>